.scrollContainer {
  max-height: 498px;
  padding-right: 20px;
}

.name {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  color: #101828;
  margin-bottom: 8px;
}

.ratingWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.star {
  fill: #ffc531;
  margin-right: 4px;
}

.rating {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #101828;
  margin-right: 16px;
}

.location {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
}

.price {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  color: #101828;
  margin-bottom: 24px;
}

.list {
  width: 902px;
  height: 310px;
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.item {
}

.photo {
  border-radius: 10px;
  width: 290px;
  height: 310px;
  object-fit: cover;
}

.aboutText {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
  margin-bottom: 44px;
}

.locationIcon {
  margin-right: 4px;
}
