.list {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid rgba(16, 24, 40, 0.2);
}
.item {
  padding-bottom: 24px;
}

.label {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
}
