.item {
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  height: 358px;
  display: flex;
  gap: 24px;
}

.image {
  border-radius: 10px;
  width: 290px;
  height: 310px;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mainInfo {
  display: flex;
  flex-direction: column;
}

.nameWrapper {
  display: flex;
  justify-content: space-between;
}

.name {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  color: #101828;
  max-width: 340px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.priceWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.price {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  color: #101828;
}

.like {
  align-self: center;
}

.ratingWrapper {
  display: flex;
  align-items: center;
}

.star {
  fill: #ffc531;
  margin-right: 4px;
}

.rating {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #101828;
  margin-right: 16px;
}

.location {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
}

.aboutText {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
  width: 525px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.additionalInfo {
}

.moreBtn {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
  border-radius: 200px;
  padding: 16px 40px;
  width: 166px;
  height: 56px;
  background: #e44848;
  transition: background-color 0.3s ease;
}

.moreBtn:hover {
  background: #d84343;
}
