.section {
  width: 888px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.more {
  border: 1px solid rgba(71, 84, 103, 0.2);
  border-radius: 200px;
  padding: 16px 32px;
  width: 145px;
  height: 56px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #101828;
  margin: 50px auto;
  display: block;
  transition: border 0.3s ease;
}

.more:hover {
  border: 1px solid #e44848;
}

.notFound {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
}
