.main {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 50px;
}

.contaier {
  width: 1312px;
  margin: 0 auto;
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
}
